@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-letra: #ffffff;
    --cor-botao: #2B59EA;
    --cor-botaoHover: #4177F7;
    --fonte-bold: "Montserrat", sans-serif;
    --fonte-principal-tamanho: 2rem;
    --fonte-titulo-tamanho: 3rem;
    --tamanho-icone-barra-lateral: 2.5rem;
    --tamanho-fonte-cabecalho : 2rem;
    --tamanho-fonte-rodape: 1.6rem;
}
/* INICIO FUNDO SO SITE */
body{
    background-image: url(../images/fundo_uaiexplorer.jpg) !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* FIM FUNDO SO SITE */

/* INICIO CABEÇALHO */
body header .barra--navegacao{
    background-color: rgba(18, 18, 18, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding : 1.5rem;
    gap: 25%;
}

body header .barra--navegacao .barra--navegacao--logo{
    margin-left: 10rem;
}

body header .barra--navegacao .barra--navegacao--logo a{
    cursor: pointer;
    transition: ease-in-out;
}

body header .barra--navegacao .barra--navegacao--botao{
    display: flex;
    gap: var(--tamanho-fonte-cabecalho);

}

body header .barra--navegacao ul li a{
    color: var(--cor-letra);
    font-family: var(--fonte-bold);
    padding: 0px 5px;
    font-size: var(--fonte-principal-tamanho);
}

body header .barra--navegacao ul li a:hover{
   text-decoration: underline;
}

body header .barra--navegacao a .logo_barra--navegacao{
    height: 6.5rem;
    width: 20rem;
}
/* FIM CABEÇALHO */

/* INICIO MAIN */
body main .conteiner--escopo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body main .conteiner--escopo .escopo--texto{
    color: var(--cor-letra);
    font-family: var(--fonte-bold);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35rem;
    height: 40rem;
    align-items: center;
    padding: 20px;
}

body main .conteiner--escopo .escopo--texto .escopo--titulo,
body main .conteiner--escopo .escopo--texto .escopo--paragrafo,
body main .conteiner--escopo .escopo--texto .escopo--texto--botao{
    padding: 10px 0px;
    text-align: justify;
}

body main .conteiner--escopo .escopo--texto .escopo--titulo{

    font-size: var(--fonte-titulo-tamanho);
}
body main .conteiner--escopo .escopo--texto .escopo--paragrafo{
    font-size: var(--fonte-principal-tamanho);
    text-indent: 3rem;
}

body main .conteiner--escopo .escopo--texto .escopo--texto--botao{
    width: 20rem;
    height: 9rem;
    text-align: center;
    font-size: var(--fonte-principal-tamanho);
    
}
body main .conteiner--escopo .escopo--texto .escopo--texto--botao .escopo--botao{
    display: flex;
    justify-content: center;
    border-radius: 2.4rem;
    padding: 1rem;
    background-color: var(--cor-botao);
    color: var(--cor-letra);
    font-family: var(--fonte-bold);
    
}

body main .conteiner--escopo .escopo--texto .escopo--texto--botao .escopo--botao:hover{
    background-color: var(--cor-botaoHover);
    transition: all 1s ease-in 0s;
}

body main .conteiner--escopo .escopo--imagem--projeto{
    width: 100rem;
    height: 80rem;
}
/* FINAL MAIN */

/* BARRA LATERAL */
body main .barra--lateral--rede-social{
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 1;
    background-color: rgba(18, 18, 18, 0.8);
    width: 4rem;
    height: 12rem;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body main .barra--lateral--rede-social .rede--social ul{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

body main .barra--lateral--rede-social .rede--social ul li:hover{
    transform: scale(1.05);
}

body main .barra--lateral--rede-social .rede--social ul li a{
    color: var(--cor-letra);
    font-size: var(--tamanho-icone-barra-lateral);
}

/* FIM BARRA LATERAL */

/* INICIO RODAPE */
body .rodape{
    margin-top: 1.3rem;
    display: flex;
    background-color: rgba(18, 18, 18, 1);
    align-items: center;
    justify-content: center;
    height: 6rem;
}
body .rodape span{
    display: flex;
    align-items: center;
    color: var(--cor-letra);
    font-family: var(--fonte-bold);
    font-size: 1.6rem;
    gap: 20px;
}
/* FIM RODAPE */